p {
    display: flex;
    align-items: center;
    width: 569px;
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 24px;
}

.contenedor-combo {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

span {
    margin-left: 10px;
}

.h3-span {
    color: #ec072a;
    margin-left: 0;
}

img {
    width: auto;
    height: 300px
}

.parrafo {

    width: 569px;
    height: 134px;


    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 24px;


}

@media (max-width: 600px) {
    .parrafo {
        display: none;

    }

    img {
        width: 300px;
        height: auto;
    }

    .contenedor-combo {
        display: flex;
        flex-direction: column;
    }


}