p{
    display: flex;
    align-items: center;
   
}
span{
    margin-left: 10px;
}
.h3-span{
    color: #ec072a;
    margin-left: 0;
}

img{
    height: 251.7px
}

@media (max-width: 600px){
    img{
        width: 300px;
        height: auto;
    }
}