
.contenedor{
    padding-top: 50px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center
}
.contenedor-combo{
    padding-top: 50px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center
}
p {
    display: flex;
    align-items: center;
    width: 569px;
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 24px;


}

span {
    margin-left: 10px;
}

.h3-span {
    color: #ec072a;
    margin-left: 0;
}
img{
    height: 281.3px
}

.parrafo {

    width: 569px;
    height: 134px;


    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 24px;

}

@media (max-width: 600px) {
    p{
        width: 300px;
    }
    img{
        width: 300px;
        height: auto;
    }
    .contenedor{
        display: flex;
        flex-direction: column;
    }
    .parrafo{
        display: none
    }
    
}