*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.boton {
  margin-top: 300px;
}

.Social {
  background-color:bisque;
  padding: 100px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 150px;
}

.tituloSocial{
  margin-bottom: 15px;
}
.iconEnlace {
  text-decoration: none;
}

.contenedor-partner {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 300px;
  /* margin-top: 100px; */
  justify-content: center;
  background-image: url(./imagenes/fondo-partner.jpg);
}

.imagen-partner {
  width: 150px;
  margin-bottom: 20px;
}

.titulo-partner {
  background-color: bisque;
  color: #ec072a;
  margin-bottom: 30px;
}

.banner {
  padding: 300px;
  background-image: url(./imagenes/banner.jpg);
  background-repeat: no-repeat;
  background-size: cover;
}

.imagen-logo {
  width: 100px;
}
/* 
.imagenCard {
  background-size: 100%;
  padding: 300px;
} */